<div class="editor">
	<div class="btn-group btn-group-sm">
		<!-- Bold Italic Underline -->
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<strong> </strong>"><i class="fa fa-bold"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<em> </em>"><i class="fa fa-italic"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<u> </u>"><i class="fa fa-underline"></i></button>
	</div>

	<div class="btn-group btn-group-sm">
		<!--  Code Headings Quote -->
		<button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<code> </code>"><i class="fa fa-code"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<h1> </h1> [1-6]"><i class="fa fa-header"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<blockquote> </blockquote> [optional: <footer> </footer>]"><i class="fa fa-quote-right"></i></button>
	</div>	

	<div class="btn-group btn-group-sm">
		<!-- Lists -->
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<ul> <li></li> </ul>"><i class="fa fa-list"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<ol> <li></li> </ol>"><i class="fa fa-list-ol"></i></button>
	</div>

	<div class="btn-group btn-group-sm">
		<!-- Image and Link -->
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<div class='image'> <div class='wrap-img'> <img src='' alt=''> <figcaption>"><i class="fa fa-image"></i></button>
	  <button type="button" class="btn btn-default pop" data-container="body" data-toggle="popover" data-placement="top" data-content="<a href='http://'> </a>"><i class="fa fa-link"></i></button>
	</div>
</div>